In [573]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as sml
from decimal import Decimal

In [393]:
data=pd.read_csv('/Users/liuaohan/Desktop/stockdata.csv')
data

,PERMNO,date,EXCHCD,RET,SHROUT,ALTPRC,vwretd,ewretd,sprtrn
0,10006,1925-12-31,1,C,600.0,109.000,NaN,NaN,NaN
1,10006,1926-01-30,1,0.032732,600.0,110.250,0.000561,0.023174,0.022472
2,10006,1926-02-27,1,-0.071429,600.0,102.375,-0.033046,-0.053510,-0.043956
3,10006,1926-03-31,1,-0.042735,600.0,96.500,-0.064002,-0.096824,-0.059113
4,10006,1926-04-30,1,-0.025907,600.0,94.000,0.037029,0.032975,0.022688
...,...,...,...,...,...,...,...,...,...
598574,93172,1974-08-30,1,-0.371429,2495.0,5.500,-0.087757,-0.085788,-0.090279
598575,93172,1974-09-30,1,-0.090909,2495.0,5.000,-0.109718,-0.079025,-0.119335
598576,93172,1974-10-31,1,-0.375000,2495.0,3.125,0.165584,0.088877,0.163047
598577,93172,1974-11-29,1,-0.160000,2929.0,2.625,-0.041046,-0.051395,-0.053180
598578,93172,1974-12-31,1,-0.333333,2929.0,1.750,-0.027005,-0.080744,-0.020151

In [479]:
data=data.dropna()

counts = data.PERMNO.value_counts()

to_drop = counts[counts < 59].index

data = data[~data['PERMNO'].isin(to_drop)]
data = data[~data['RET'].isin(['C'])]
data['ALTPRC']=abs(data['ALTPRC'])
data['RET']=data['RET'].apply(lambda x: float(x))
data['vwretd'].apply(lambda x: float(x))

data['MV']=data['SHROUT']*data['ALTPRC']

data['date']=pd.to_datetime(data['date'])

In [395]:
data

,PERMNO,date,EXCHCD,RET,SHROUT,ALTPRC,vwretd,ewretd,sprtrn,MV
1,10006,1926-01-30,1,0.032732,600.0,110.2500,0.000561,0.023174,0.022472,66150.000
2,10006,1926-02-27,1,-0.071429,600.0,102.3750,-0.033046,-0.053510,-0.043956,61425.000
3,10006,1926-03-31,1,-0.042735,600.0,96.5000,-0.064002,-0.096824,-0.059113,57900.000
4,10006,1926-04-30,1,-0.025907,600.0,94.0000,0.037029,0.032975,0.022688,56400.000
5,10006,1926-05-28,1,0.023936,600.0,96.2500,0.012095,0.001035,0.007679,57750.000
...,...,...,...,...,...,...,...,...,...,...
598552,86239,1971-08-31,1,0.174390,3966.0,23.8750,0.042511,0.041159,0.036095,94688.250
598553,86239,1971-09-30,1,-0.060209,3966.0,22.4375,-0.005016,-0.004653,-0.006968,88987.125
598554,86239,1971-10-29,1,-0.030641,3966.0,21.7500,-0.040683,-0.057468,-0.041794,86260.500
598555,86239,1971-11-30,1,0.034483,3966.0,22.5000,-0.001262,-0.034150,-0.002547,89235.000
598556,86239,1971-12-31,1,-0.013333,3966.0,22.0000,0.091257,0.117128,0.086179,87252.000

In [396]:
import numpy as np
# risk free rate
rfr=0.0026

In [397]:
counts = data.PERMNO.value_counts()
index=counts.to_frame()
permno=list(counts.index)
index

       PERMNO
11308     599
11674     599
11164     599
11156     599
15077     599
...       ...
51772      59
51764      59
28329      59
49146      59
51932      58

[2028 rows x 1 columns]

In [398]:
data3=data[data['PERMNO'].isin([11308])]$

data3['test']=data3['vwretd']/3+data3['ewretd']/6

VW=data3.loc[:,'vwretd'].to_frame()
EW=data3.loc[:,'ewretd'].to_frame()
Date=data3.loc[:,'date'].to_frame()

data3

/var/folders/dv/lsysysz50tl6t1l0v10bjn1h0000gn/T/ipykernel_19007/2300172099.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3['test']=data3['vwretd']/3+data3['ewretd']/6

,PERMNO,date,EXCHCD,RET,SHROUT,ALTPRC,vwretd,ewretd,sprtrn,MV,test
46958,11308,1926-01-30,1,-0.013832,500.0,151.500,0.000561,0.023174,0.022472,75750.0,0.004049
46959,11308,1926-02-27,1,-0.075908,500.0,140.000,-0.033046,-0.053510,-0.043956,70000.0,-0.019934
46960,11308,1926-03-31,1,-0.005357,500.0,137.500,-0.064002,-0.096824,-0.059113,68750.0,-0.037471
46961,11308,1926-04-30,1,0.067273,500.0,146.750,0.037029,0.032975,0.022688,73375.0,0.017839
46962,11308,1926-05-28,1,0.048552,500.0,153.875,0.012095,0.001035,0.007679,76937.5,0.004204
...,...,...,...,...,...,...,...,...,...,...,...
47553,11308,1975-08-29,1,-0.034483,59850.0,77.000,-0.023558,-0.048118,-0.021070,4608450.0,-0.015872
47554,11308,1975-09-30,1,-0.073701,59850.0,70.750,-0.038010,-0.038867,-0.034645,4234387.5,-0.019148
47555,11308,1975-10-31,1,0.148410,59850.0,81.250,0.055857,0.014720,0.061643,4862812.5,0.021072
47556,11308,1975-11-28,1,0.084000,59850.0,87.500,0.031222,0.016740,0.024708,5236875.0,0.013197
47557,11308,1975-12-31,1,-0.060000,59850.0,82.250,-0.010998,-0.000599,-0.011508,4922662.5,-0.003766

In [399]:
print('Mean\n',data3.loc[:,'vwretd':'sprtrn'].mean())
print('\n')
print('Standard deviation\n',data3.loc[:,'vwretd':'sprtrn'].std())

Mean
 vwretd    0.008494
ewretd    0.012148
sprtrn    0.005220
dtype: float64


Standard deviation
 vwretd    0.060309
ewretd    0.084595
sprtrn    0.062076
dtype: float64

In [400]:
# portfolio formation by market value

# 1925 - 1930

In [402]:
data[data['date']=='1926-01-30']

,PERMNO,date,EXCHCD,RET,SHROUT,ALTPRC,vwretd,ewretd,sprtrn,MV
1,10006,1926-01-30,1,0.032732,600.0,110.2500,0.000561,0.023174,0.022472,66150.000
1202,10022,1926-01-30,1,0.017857,200.0,57.0000,0.000561,0.023174,0.022472,11400.000
1616,10030,1926-01-30,1,0.161667,156.0,174.2500,0.000561,0.023174,0.022472,27183.000
2133,10049,1926-01-30,1,0.141892,250.0,83.5000,0.000561,0.023174,0.022472,20875.000
2215,10057,1926-01-30,1,-0.035714,500.0,11.8125,0.000561,0.023174,0.022472,5906.250
...,...,...,...,...,...,...,...,...,...,...
516070,27561,1926-01-30,1,-0.010652,1519.0,91.6250,0.000561,0.023174,0.022472,139178.375
517977,27692,1926-01-30,1,0.000000,77.0,45.0000,0.000561,0.023174,0.022472,3465.000
529033,28513,1926-01-30,1,0.011628,408.0,43.5000,0.000561,0.023174,0.022472,17748.000
596673,58368,1926-01-30,1,0.012939,164.0,68.5000,0.000561,0.023174,0.022472,11234.000
597620,75471,1926-01-30,1,0.218750,70.0,39.0000,0.000561,0.023174,0.022472,2730.000

In [511]:
quantile = data[data['date']=='1930-12-31']['MV'].quantile([0,0.2,0.4,0.6,0.8])
quantile

0.0       13.75
0.2     1796.00
0.4     6457.00
0.6    15704.00
0.8    52551.75
Name: MV, dtype: float64

In [514]:
P1=data[(data['date']=='1930-12-31') & (data['MV']<quantile[0.2])]
P2=data[(data['date']=='1930-12-31') & (data['MV']<quantile[0.4]) & (quantile[0.2]<=data['MV'])]
P3=data[(data['date']=='1930-12-31') & (data['MV']<quantile[0.6]) & (quantile[0.4]<=data['MV'])]
P4=data[(data['date']=='1930-12-31') & (data['MV']<quantile[0.8]) & (quantile[0.6]<=data['MV'])]
P5=data[(data['date']=='1930-12-31') & (quantile[0.8]<=data['MV'])]
#b.index=range(0,len(b))

In [515]:
P1

,PERMNO,date,EXCHCD,RET,SHROUT,ALTPRC,vwretd,ewretd,sprtrn,MV
3476,10073,1930-12-31,1,-0.333333,138.0,2.5000,-0.077739,-0.136846,-0.074231,345.000
3628,10081,1930-12-31,1,-0.285714,1192.0,0.3125,-0.077739,-0.136846,-0.074231,372.500
4296,10110,1930-12-31,1,-0.454545,880.0,0.3750,-0.077739,-0.136846,-0.074231,330.000
7887,10209,1930-12-31,1,0.000000,333.0,1.7500,-0.077739,-0.136846,-0.074231,582.750
11195,10276,1930-12-31,1,-0.361111,363.0,2.8750,-0.077739,-0.136846,-0.074231,1043.625
...,...,...,...,...,...,...,...,...,...,...
305225,19123,1930-12-31,1,0.000000,235.0,3.7500,-0.077739,-0.136846,-0.074231,881.250
319111,19529,1930-12-31,1,0.105263,505.0,2.6250,-0.077739,-0.136846,-0.074231,1325.625
376145,21215,1930-12-31,1,-0.205882,317.0,3.3750,-0.077739,-0.136846,-0.074231,1069.875
482280,25435,1930-12-31,1,-0.322581,219.0,5.2500,-0.077739,-0.136846,-0.074231,1149.750
597679,75471,1930-12-31,1,-0.375000,70.0,3.7500,-0.077739,-0.136846,-0.074231,262.500

In [531]:
C=pd.DataFrame(columns=['PERMNO','Beta'])

for i in data[data['date']=='1930-12-31']['PERMNO']:
    a = data[(data['date']<='1930-12-31')& (data['PERMNO']==i)]
    beta=a['RET'].cov(a['vwretd'])/a['vwretd'].var()
    C.loc[i]=beta
    C['PERMNO']=C.index

/Users/liuaohan/anaconda3/lib/python3.10/site-packages/pandas/core/nanops.py:1609: RuntimeWarning: Degrees of freedom <= 0 for slice
  return np.cov(a, b, ddof=ddof)[0, 1]
/Users/liuaohan/anaconda3/lib/python3.10/site-packages/numpy/lib/function_base.py:2704: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

In [532]:
C

       PERMNO      Beta
10006   10006  0.488558
10014   10014  1.084939
10022   10022  0.597197
10030   10030  0.711536
10049   10049  1.218257
...       ...       ...
27561   27561  0.613166
27692   27692  0.765369
28513   28513  0.929378
58368   58368  1.153454
75471   75471  1.926166

[706 rows x 2 columns]

In [505]:
quantile_Beta = C['Beta'].quantile([0,0.2,0.4,0.6,0.8])
quantile_Beta

0.0   -1.624317
0.2    0.663999
0.4    0.936709
0.6    1.183965
0.8    1.527297
Name: Beta, dtype: float64

In [533]:
P1

,PERMNO,date,EXCHCD,RET,SHROUT,ALTPRC,vwretd,ewretd,sprtrn,MV
3476,10073,1930-12-31,1,-0.333333,138.0,2.5000,-0.077739,-0.136846,-0.074231,345.000
3628,10081,1930-12-31,1,-0.285714,1192.0,0.3125,-0.077739,-0.136846,-0.074231,372.500
4296,10110,1930-12-31,1,-0.454545,880.0,0.3750,-0.077739,-0.136846,-0.074231,330.000
7887,10209,1930-12-31,1,0.000000,333.0,1.7500,-0.077739,-0.136846,-0.074231,582.750
11195,10276,1930-12-31,1,-0.361111,363.0,2.8750,-0.077739,-0.136846,-0.074231,1043.625
...,...,...,...,...,...,...,...,...,...,...
305225,19123,1930-12-31,1,0.000000,235.0,3.7500,-0.077739,-0.136846,-0.074231,881.250
319111,19529,1930-12-31,1,0.105263,505.0,2.6250,-0.077739,-0.136846,-0.074231,1325.625
376145,21215,1930-12-31,1,-0.205882,317.0,3.3750,-0.077739,-0.136846,-0.074231,1069.875
482280,25435,1930-12-31,1,-0.322581,219.0,5.2500,-0.077739,-0.136846,-0.074231,1149.750
597679,75471,1930-12-31,1,-0.375000,70.0,3.7500,-0.077739,-0.136846,-0.074231,262.500

In [562]:
new=pd.merge(C,P1)
quantile_Beta = new['Beta'].quantile([0,0.2,0.4,0.6,0.8])
P11=new[new['Beta']<quantile_Beta[0.2]]
P12=new[(new['Beta']<quantile_Beta[0.4]) & (new['Beta']>=quantile_Beta[0.2])]
P13=new[(new['Beta']<quantile_Beta[0.6]) & (new['Beta']>=quantile_Beta[0.4])]
P14=new[(new['Beta']<quantile_Beta[0.8]) & (new['Beta']>=quantile_Beta[0.6])]
P15=new[(new['Beta']>=quantile_Beta[0.8])]

In [563]:
new=pd.merge(C,P2)
quantile_Beta = new['Beta'].quantile([0,0.2,0.4,0.6,0.8])
P21=new[new['Beta']<quantile_Beta[0.2]]
P22=new[(new['Beta']<quantile_Beta[0.4]) & (new['Beta']>=quantile_Beta[0.2])]
P23=new[(new['Beta']<quantile_Beta[0.6]) & (new['Beta']>=quantile_Beta[0.4])]
P24=new[(new['Beta']<quantile_Beta[0.8]) & (new['Beta']>=quantile_Beta[0.6])]
P25=new[(new['Beta']>=quantile_Beta[0.8])]

In [564]:
new=pd.merge(C,P3)
quantile_Beta = new['Beta'].quantile([0,0.2,0.4,0.6,0.8])
P31=new[new['Beta']<quantile_Beta[0.2]]
P32=new[(new['Beta']<quantile_Beta[0.4]) & (new['Beta']>=quantile_Beta[0.2])]
P33=new[(new['Beta']<quantile_Beta[0.6]) & (new['Beta']>=quantile_Beta[0.4])]
P34=new[(new['Beta']<quantile_Beta[0.8]) & (new['Beta']>=quantile_Beta[0.6])]
P35=new[(new['Beta']>=quantile_Beta[0.8])]

In [565]:
new=pd.merge(C,P4)
quantile_Beta = new['Beta'].quantile([0,0.2,0.4,0.6,0.8])
P41=new[new['Beta']<quantile_Beta[0.2]]
P42=new[(new['Beta']<quantile_Beta[0.4]) & (new['Beta']>=quantile_Beta[0.2])]
P43=new[(new['Beta']<quantile_Beta[0.6]) & (new['Beta']>=quantile_Beta[0.4])]
P44=new[(new['Beta']<quantile_Beta[0.8]) & (new['Beta']>=quantile_Beta[0.6])]
P45=new[(new['Beta']>=quantile_Beta[0.8])]

In [566]:
new=pd.merge(C,P5)
quantile_Beta = new['Beta'].quantile([0,0.2,0.4,0.6,0.8])
P51=new[new['Beta']<quantile_Beta[0.2]]
P52=new[(new['Beta']<quantile_Beta[0.4]) & (new['Beta']>=quantile_Beta[0.2])]
P53=new[(new['Beta']<quantile_Beta[0.6]) & (new['Beta']>=quantile_Beta[0.4])]
P54=new[(new['Beta']<quantile_Beta[0.8]) & (new['Beta']>=quantile_Beta[0.6])]
P55=new[(new['Beta']>=quantile_Beta[0.8])]

In [571]:
len(P15)

29

In [572]:
P55

,PERMNO,Beta,date,EXCHCD,RET,SHROUT,ALTPRC,vwretd,ewretd,sprtrn,MV
1,10137,1.647554,1930-12-31,1,-0.051383,1751.0,60.000,-0.077739,-0.136846,-0.074231,105060.000
8,10364,1.308626,1930-12-31,1,-0.209639,1830.0,41.000,-0.077739,-0.136846,-0.074231,75030.000
12,10495,1.320093,1930-12-31,1,-0.178082,8866.0,30.000,-0.077739,-0.136846,-0.074231,265980.000
20,10970,1.576814,1930-12-31,1,0.025338,2180.0,26.875,-0.077739,-0.136846,-0.074231,58587.500
27,11260,1.551102,1930-12-31,1,-0.063380,4415.0,16.375,-0.077739,-0.136846,-0.074231,72295.625
30,11404,1.320913,1930-12-31,1,-0.040000,11468.0,84.000,-0.077739,-0.136846,-0.074231,963312.000
35,11703,1.474796,1930-12-31,1,-0.012802,11066.0,86.750,-0.077739,-0.136846,-0.074231,959975.500
37,11789,1.707739,1930-12-31,1,-0.087719,1878.0,39.000,-0.077739,-0.136846,-0.074231,73242.000
40,12060,1.433671,1930-12-31,1,-0.092268,28844.0,43.625,-0.077739,-0.136846,-0.074231,1258319.500
47,12503,1.312916,1930-12-31,1,-0.147368,4409.0,50.000,-0.077739,-0.136846,-0.074231,220450.000
48,12546,1.636506,1930-12-31,1,-0.163265,14584.0,15.125,-0.077739,-0.136846,-0.074231,220583.000
49,12570,1.473103,1930-12-31,1,-0.254630,6642.0,19.625,-0.077739,-0.136846,-0.074231,130349.250
59,13047,1.312919,1930-12-31,1,-0.080000,6648.0,17.250,-0.077739,-0.136846,-0.074231,114678.000
60,13063,1.723727,1930-12-31,1,-0.308108,4565.0,16.000,-0.077739,-0.136846,-0.074231,73040.000
63,13362,1.693541,1930-12-31,1,-0.115254,5438.0,32.625,-0.077739,-0.136846,-0.074231,177414.750
67,13549,1.412865,1930-12-31,1,-0.079665,6106.0,63.750,-0.077739,-0.136846,-0.074231,389257.500
79,14090,2.506413,1930-12-31,1,-0.288889,13160.0,12.000,-0.077739,-0.136846,-0.074231,157920.000
83,14322,1.437857,1930-12-31,1,-0.192394,4748.0,45.125,-0.077739,-0.136846,-0.074231,214253.500
90,14568,1.338015,1930-12-31,1,-0.115385,2163.0,59.500,-0.077739,-0.136846,-0.074231,128698.500
92,14613,1.569282,1930-12-31,1,-0.105263,15000.0,8.500,-0.077739,-0.136846,-0.074231,127500.000
105,15368,1.657567,1930-12-31,1,-0.071518,2586.0,91.250,-0.077739,-0.136846,-0.074231,235972.500
111,15704,1.340392,1930-12-31,1,0.000000,2887.0,50.000,-0.077739,-0.136846,-0.074231,144350.000
118,16432,1.360263,1930-12-31,1,-0.112195,1417.0,45.500,-0.077739,-0.136846,-0.074231,64473.500
120,16600,1.579359,1930-12-31,1,0.000000,707.0,88.000,-0.077739,-0.136846,-0.074231,62216.000
128,17849,1.698662,1930-12-31,1,-0.094595,9183.0,16.750,-0.077739,-0.136846,-0.074231,153815.250
129,17929,1.359138,1930-12-31,1,0.018182,23254.0,28.000,-0.077739,-0.136846,-0.074231,651112.000
131,18198,1.582856,1930-12-31,1,-0.145729,2105.0,41.500,-0.077739,-0.136846,-0.074231,87357.500
134,18411,1.499589,1930-12-31,1,-0.097222,34011.0,8.125,-0.077739,-0.136846,-0.074231,276339.375
137,18868,1.333908,1930-12-31,1,0.075610,1910.0,43.500,-0.077739,-0.136846,-0.074231,83085.000

In [574]:
x=sm.add_constant(P55['Beta']*(P55['RET']-P55['vwretd']))

In [576]:
y=P55['Beta'].mean()-P55['vwretd']

In [577]:
model=sm.GLS(y,x)

In [578]:
results=model.fit()

In [580]:
print(results.summary())

                            GLS Regression Results
==============================================================================
Dep. Variable:                 vwretd   R-squared:                      -7.724
Model:                            GLS   Adj. R-squared:                 -8.047
Method:                 Least Squares   F-statistic:                    -23.91
Date:                Fri, 20 Oct 2023   Prob (F-statistic):               1.00
Time:                        11:22:28   Log-Likelihood:                 972.71
No. Observations:                  29   AIC:                            -1941.
Df Residuals:                      27   BIC:                            -1939.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.6008   1.32e-16   1.21e+16      0.000       1.601       1.601
0          -5.551e-16   8.15e-16     -0.681      0.502   -2.23e-15    1.12e-15
==============================================================================
Omnibus:                       13.264   Durbin-Watson:                   0.028
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               22.046
Skew:                          -0.845   Prob(JB):                     1.63e-05
Kurtosis:                       6.923   Cond. No.                         6.48
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [610]:
PB55 = (P55['Beta']*P55['MV']/P55['MV'].sum()).sum()
PRET = (P55['RET']*P55['MV']/P55['MV'].sum()).sum()
PMI = (P55['vwretd']*P55['MV']/P55['MV'].sum()).sum()
PMV = P55['MV'].sum()

In [630]:
All = pd.DataFrame(columns=['Portfolio','date','Beta','RET','MI','MV'])
All

Empty DataFrame
Columns: [Portfolio, date, Beta, RET, MI, MV]
Index: []

In [631]:
collect = [P11,P12,P13,P14,P15,P21,P22,P23,P24,P25,P31,P32,P33,P34,P35,P41,P42,P43,P44,P45,P51,P52,P53,P54,P55]
name =['P11','P12','P13','P14','P15','P21','P22','P23','P24','P25','P31','P32','P33','P34',
       'P35','P41','P42','P43','P44','P45','P51','P52','P53','P54','P55']

In [637]:
for i in range(25):
    All.loc[i,'Portfolio']=name[i]
    All.loc[i,'date']=collect[i]['date'].mean()
    All.loc[i,'Beta'] = (collect[i]['Beta']*collect[i]['MV']/collect[i]['MV'].sum()).sum()
    All.loc[i,'RET'] = (collect[i]['RET']*collect[i]['MV']/collect[i]['MV'].sum()).sum()
    All.loc[i,'MI'] = (collect[i]['vwretd']*collect[i]['MV']/collect[i]['MV'].sum()).sum()
    All.loc[i,'MV'] = collect[i]['MV'].sum()

In [638]:
All

   Portfolio                 date      Beta       RET        MI            MV
0        P11  1930-12-31 00:00:00  0.561934  -0.18335 -0.077739    19879.5625
1        P12  1930-12-31 00:00:00  1.030904 -0.158801 -0.077739     25542.875
2        P13  1930-12-31 00:00:00  1.319376 -0.246185 -0.077739      23793.75
3        P14  1930-12-31 00:00:00  1.585794 -0.253743 -0.077739     22868.375
4        P15  1930-12-31 00:00:00  2.041727  -0.23989 -0.077739    27578.9375
5        P21  1930-12-31 00:00:00  0.494292 -0.094737 -0.077739      116442.5
6        P22  1930-12-31 00:00:00  0.884204 -0.154419 -0.077739      111564.5
7        P23  1930-12-31 00:00:00  1.159973  -0.15767 -0.077739      101009.0
8        P24  1930-12-31 00:00:00  1.380281 -0.218086 -0.077739     97917.375
9        P25  1930-12-31 00:00:00  1.808472 -0.214137 -0.077739    111255.125
10       P31  1930-12-31 00:00:00  0.343041 -0.074954 -0.077739   316165.3125
11       P32  1930-12-31 00:00:00  0.762396 -0.091377 -0.077739   278235.4375
12       P33  1930-12-31 00:00:00  1.015151 -0.086934 -0.077739      295645.5
13       P34  1930-12-31 00:00:00  1.344461 -0.151753 -0.077739      281328.5
14       P35  1930-12-31 00:00:00  1.955445 -0.161864 -0.077739    256745.625
15       P41  1930-12-31 00:00:00  0.363669 -0.025347 -0.077739   720460.8125
16       P42  1930-12-31 00:00:00  0.735876 -0.111575 -0.077739     796609.75
17       P43  1930-12-31 00:00:00   0.97294  -0.12817 -0.077739    772275.375
18       P44  1930-12-31 00:00:00  1.185042 -0.095655 -0.077739     822792.75
19       P45  1930-12-31 00:00:00  1.705591 -0.113727 -0.077739      857512.0
20       P51  1930-12-31 00:00:00   0.44254 -0.058237 -0.077739  5020419.9375
21       P52  1930-12-31 00:00:00  0.693808  -0.06056 -0.077739   9486404.625
22       P53  1930-12-31 00:00:00  0.896432 -0.062423 -0.077739   7111631.375
23       P54  1930-12-31 00:00:00  1.172885 -0.047406 -0.077739  6307189.9375
24       P55  1930-12-31 00:00:00  1.467266 -0.080192 -0.077739    7544667.75

Timestamp('1930-12-31 00:00:00')